<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app.js"></script>
  <link rel="stylesheet" href="bower_components/bootsketch/build/css/bootsketch.css"/>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="todoCtrl as todo">
<div class="container">
  <div class="page-header">
    <h1>Need To Do!</h1>
    <p>simple introduction level angular project</p>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <label for="taskTitle">Task Title</label>
      <input type="text" class="form-control" id="taskTitle" ng-model="todo.task.title" placeholder="title...">
    </div>
    <div class="form-group">
      <label for="taskDesc">Description</label>
      <input class="form-control" id="taskDesc" ng-model="todo.task.desc" placeholder="description..">
    </div>
    <div class="form-group">
      <button class="form-control btn btn-default" ng-click="todo.saveTask(todo.task)">{{ (todo.task.complete == null) ? 'Add' : 'Edit' }}</button>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>done</th>
        <th>title</th>
        <th>description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in todo.tasks" ng-class="{strike: item.complete}">
        <td><input class="input" type="checkbox" ng-click="todo.saveTask()" ng-model="item.complete"/></td>
        <td>{{item.title}}</td>
        <td>{{item.desc}}</td>
        <td>
          <button class="btn btn-danger" ng-click="todo.removeTask(item)"><i class="glyphicon glyphicon-trash"></i></button>
          <button class="btn btn-info" ng-click="todo.editTask(item)"><i class="glyphicon glyphicon-pencil"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>